{% extends "menu.html" %}

{% load static %}

{% block head %}
{% endblock head %}



{% block main_content %}


<!-- FORMULARIO PARA INICIAR SECCION -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Bienvenido a la tienda marquensita</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Inicia sesión</h2>
            <form action="tu_script_de_inicio_de_sesion.php" method="post">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>



<!-- Formulario de login -->
<section>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Registrate</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <a class="btn btn-success" href="createcliente">CREAR USER</a>
        </div>
    </div>
</section>





{% endblock main_content %}